
<header class="py-3 bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
        <ul class="nav col-6 mb-2  mb-md-0" style="width: 300px;">
          <li>
            <a routerLink="/" class="nav-link px-2 text-white">Home</a>
          </li>
          <li>
            <a href="/" class="nav-link px-2 text-white">Features</a>
          </li>
          <li>
            <a href="/" class="nav-link px-2 text-white">About</a>
          </li>
          <!--  -->
        </ul>

      </div>
    </div>
  </header>

<div class="container" >
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Start Date</th>
            <th scope="col">End Date</th>
            <th scope="col">Status</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of booklending ">
            <th scope="row">{{b.id}}</th>
            <td>{{b.startD}}</td>
            <td>{{b.endDate}}</td>
            <td>{{b.status}}</td>
            <td><button type="button" class="btn btn-primary" routerLink="/booklending-detail">View</button></td>
          </tr>
          
        </tbody>
      </table>
</div>