<header class="py-3 bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
        <ul class="nav col-6 mb-2  mb-md-0" style="width: 600px;">
          <li>
            <a routerLink="/admin" class="nav-link px-2 text-white">Dashbroad</a>
          </li>
          <li>
            <a routerLink="/member-mamagement" class="nav-link px-2 text-white">Management Members</a>
          </li>
          <li>
            <a routerLink="/book-mamagement" class="nav-link px-2 text-white">Management Books</a>
          </li>
          <!--  -->
        </ul>

      </div>
    </div>
  </header>
  <div class="container" >
    <table class="table">
      
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Title</th>
            <th scope="col">Author </th>
            <th scope="col">Publisher</th>
            <th scope="col">Img</th>
            <th scope="col">Price</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let b of listBookitem ">
            <th scope="row">{{b.id}}</th>
            <td>{{b.title}}</td>
            <td>{{b.author}}</td>
            <td>{{b.publisher}}</td>
            <td><img src="{{b.image}}" alt=""  width="30px" height="35px"></td>
            <td>{{b.price}}</td>
            <td><button type="button" class="btn btn-primary" (click)="removeBook(b.id)" >Remove</button></td>
            <td><button type="button" class="btn btn-primary" (click)="updateBook(b.id)" >Update</button></td>
          </tr>
          
        </tbody>
        
      </table>
      <button type="button" class="btn btn-primary"  routerLink="/create-Book">Add New Book</button>
</div>