<!-- <div class="container">
    <header class="py-3 bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
          <ul class="nav col-6 mb-2  mb-md-0">
            <li>
              <a routerLink="/" class="nav-link px-2 text-white">Home</a>
            </li>
            <li>
              <a href="/" class="nav-link px-2 text-white">Features</a>
            </li>
            <li>
              <a href="/" class="nav-link px-2 text-white">About</a>
            </li>
          </ul>
          <a class="align-items-center col-lg-auto me-lg-auto justify-content-center text-white text-decoration-none" href="/">Logo</a>
          
          <div class="text-end" >
            <button type="button" routerLink="/login" class="btn btn-outline-light me-2">Login</button>
          </div>
       
        </div>
      </div>
    </header>
    <div class="bg-dark text-center container text-white">
      
    </div>
    
    
  </div> -->
  <router-outlet > </router-outlet>

