
<header class="py-3 bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
        <ul class="nav col-6 mb-2  mb-md-0" style="width: 600px;">
          <li>
            <a routerLink="/admin" class="nav-link px-2 text-white">Dashbroad</a>
          </li>
          <li>
            <a routerLink="/member-mamagement" class="nav-link px-2 text-white">Management Members</a>
          </li>
          <li>
            <a routerLink="/book-management" class="nav-link px-2 text-white">Management Books</a>
          </li>
          <!--  -->
        </ul>

      </div>
    </div>
  </header>

<div class="container" >
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let m of listMember ">
            <th scope="row">{{m.id}}</th>
            <td>{{m.name}}</td>
            <td>{{m.phone}}</td>
            <td>{{m.address}}</td>
            <td><button type="button" class="btn btn-primary"   (click)="acceptBookLending(m.id)" [disabled]="">Accept</button> 

                <button type="button" class="btn btn-primary ">Block</button>
                <i style="color: green;" class="bi bi-check-circle"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-circle" viewBox="0 0 16 16">
                <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
              </svg></i></td>
            
          </tr>
          
        </tbody>
      </table>
</div>
