

<div class="container" *ngIf="isLogin">
    
        <div class="container-sm "  >
            <h1 style="text-align: center;">Login</h1>
        <div class="form">
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()"  >
                <div class="row justify-content-center">
                    <div class="col-4">
                    <label for="username">Username</label>
                    <input type="text" formControlName="username" class="form-control" /> 
                    <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                        <div *ngIf="f.username.errors.required">Username is required</div>
                    </div> -->
                </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-4">
                    <label for="password">Password</label>
                    <input type="password" formControlName="password" class="form-control" /> 
                    <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                        <div *ngIf="f.password.errors.required">Password is required</div>
                    </div> -->
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                    <button  class="btn btn-primary" type="submit">
                        <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                        Login
                     </button>
                    <a  class="btn btn-link" (click)="onChange()">Register</a>
                </div>
                </div>
            </form> 
          
        
        </div>
        </div>
    
</div>

<div class="container"  *ngIf="isRegister">
    <h1 style="text-align: center;">Register</h1>
    <div class="form-group" >
        <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
            <div class="row justify-content-center">
                <div class="col-4">
                <label for="name">Name</label>
                <input type="text" formControlName="name" class="form-control" /> 
                <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div> -->
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                <label for="phone">Phone</label>
                <input type="text" formControlName="phone" class="form-control" /> 
                <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div> -->
            </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-4">
                <label for="address">Address</label>
                <input type="text" formControlName="address" class="form-control" /> 
                <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div> -->
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                <label for="username">Username</label>
                <input type="text" formControlName="username" class="form-control" /> 
                <!-- <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                    <div *ngIf="f.username.errors.required">Username is required</div>
                </div> -->
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                <label for="password">Password</label>
                <input type="password" formControlName="password" class="form-control" /> 
                <!-- <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                    <div *ngIf="f.password.errors.required">Password is required</div>
                </div> -->
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                <button  class="btn btn-primary" type="submit">
                    <!-- <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span> -->
                    Register
                 </button>
                <a  class="btn btn-link" (click)="onChange()">Back</a>
            </div>
            </div>
        </form>
    </div>
 
</div>
