<header class="py-3 bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
        <ul class="nav col-6 mb-2  mb-md-0" style="width: 1000px;">
          <li>
            <a routerLink="/admin" class="nav-link px-2 text-white">Dashbroad</a>
          </li>
          <li>
            <a routerLink="/member-mamagement" class="nav-link px-2 text-white">Management Members</a>
          </li>
          <li>
            <a routerLink="/book-management" class="nav-link px-2 text-white">Management Books</a>
          </li>
          <!--  -->
        </ul>
        
      </div>
    </div>
  </header>
  <div class="container"  >
    <h1 style="text-align: center;">Add New Book</h1>
    <div class="form-group" >
        <form [formGroup]="createForm" (ngSubmit)="onCreate()">
            
                <div class="row justify-content-center">
                <div class="col-4">   
                    <label for="title">Title</label>
                    <input type="text" formControlName="title" class="form-control"  />            
                </div>
                
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                <label for="author">Author</label>
                <input type="text" formControlName="author" class="form-control"  /> 
               
            </div>
            </div>
            
            <div class="row justify-content-center">
                <div class="col-4">
                <label for="publisher">Publisher</label>
                <input type="text" formControlName="publisher" class="form-control" /> 
             
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                <label for="image">Image</label>
                <input type="text" formControlName="image" class="form-control" /> 
              
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                <label for="pages">Pages</label>
                <input type="text" formControlName="pages" class="form-control"/> 
               
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                <label for="amount">Amount</label>
                <input type="text" formControlName="amount" class="form-control" /> 
                
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                <label for="price">Price</label>
                <input type="text" formControlName="price" class="form-control" /> 
                
            </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-4">
                <button  class="btn btn-primary" type="submit">
                    
                    Create
                 </button>
                <a  class="btn btn-link" >Back</a>
            </div>
            </div>
        </form>
    </div>
 
</div>