<header class="py-3 bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
        <ul class="nav col-6 mb-2  mb-md-0" style="width: 1000px;">
          <li>
            <a routerLink="/admin" class="nav-link px-2 text-white">Dashbroad</a>
          </li>
          <li>
            <a routerLink="/member-mamagement" class="nav-link px-2 text-white">Management Members</a>
          </li>
          <li>
            <a routerLink="/book-management" class="nav-link px-2 text-white">Management Books</a>
          </li>
          <!--  -->
        </ul>
        <button type="button" routerLink="/login" class="btn btn-outline-light me-2" (click)="logOut()">Log out</button>
      </div>
    </div>
  </header>
  <body>
    <h1 style="text-align: center;">Welcome {{librariant.name}} !!</h1>
  </body>
