<div class="container" >
  <header class="py-3 bg-dark">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-lg-start">
        <ul class="nav col-6 mb-2  mb-md-0" style="width: 400px;">
          <li>
            <a routerLink="/home" class="nav-link px-2 text-white">Home</a>
          </li>
          <li>
            <a href="/" class="nav-link px-2 text-white">Features</a>
          </li>
          <li>
            <a href="/" class="nav-link px-2 text-white">About</a>
          </li>
          <li *ngIf="member!==null">
            <a routerLink="/list-book-added" class="nav-link px-2 text-white">List BookItem Added 
              <span *ngIf="count!=0"
              class="badge badge-light" style="color: white">{{count}}</span></a>
          </li>
          <!--  -->
        </ul>
       
        <div style="width: 300px;">
        <div  *ngIf="member!==null">
          <a class="align-items-center  col-lg-auto me-lg-auto justify-content-center text-white text-decoration-none" >Hello {{name}}</a>
        </div>
      </div>
      
      <div class="input-group w-25 me-lg-3 mt-2">
          <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <select [(ngModel)]="selectedValue" class="form-select" aria-label="Default select example" >
            <option selected>Search By</option>
            <option value="title">Title</option>
            <option value="author">Author</option>
            <option value="publisher">Publisher</option>
          </select>
          <button type="button" class="btn btn-outline-light" (click)="searchBook()">Search</button>
  
          
      </div>
        <div class="text-end" *ngIf="member===null">
          <button type="button" routerLink="/login" class="btn btn-outline-light me-2">Login</button>
        </div>
       
        <div class="text-end" *ngIf="member!==null">
          <button type="button" routerLink="/home" class="btn btn-outline-light me-2" (click)="logOut()">Log out</button>
        </div>
        <div class="text-end" *ngIf="member!==null">
          <button type="button" routerLink="/list-booklending" class="btn btn-outline-light me-2" >List Book Lending</button>
        </div>
      </div>
    </div>
  </header>
  <div class="bg-dark text-center container text-white">
    <div class="view" style="background-image: url(../assets/Image/pexels-ivo-rainha-1290141.jpg);background-repeat: no-repeat; background-size: cover; background-position: center center;">
      <div class="mask rgba-gradient d-flex justify-content-center align-items-center">
        <div class="m-xl-5 p-xl-5">
          <div class="text-black bg-white opacity-75 text-center m-xl-5 p-xl-5">
            <h1 class="opacity-100">This Is A Test</h1>
            <h6 class="mx-xl-5 opacity-100">Browsers do not provide any special information on background images to assistive technology. This is important primarily for screen readers, as a screen reader will not announce its presence and therefore convey nothing to its users. If the image contains information critical to understanding the page's overall purpose, it is better to describe it semantically in the document.</h6>
          </div>
        </div>
      </div>
    </div>
    
    <div class="nav d-flex justify-content-between bg-dark px-3">
      
  
      
    </div>
    <div class="bg-dark container text-black mt-5">
      <div class="row py-4" >
        <div class="col" *ngFor="let book of listBook ">
          <a routerLink="/">
            <div class="card" style="width: 15rem;">
              <img src="{{book.image}}" class="card-img-top" alt="book img">
              <div class="card-body">
                <h5 class="card-title">{{book.title}}</h5>
                <button type="button" class="btn btn-info"  (click)="addToBookLending(book.id)">Add</button>
              </div>
            </div>
          </a>
        </div>
       
      </div>
      <div class="row pb-4">
        <div class="col">
          <a routerLink="/">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/Image/pexels-ivo-rainha-1290141.jpg" class="card-img-top" alt="book img">
              <div class="card-body">
                <h5 class="card-title">Book1</h5>
                <button type="button" class="btn btn-info">Add</button>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a routerLink="/">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/Image/pexels-ivo-rainha-1290141.jpg" class="card-img-top" alt="book img">
              <div class="card-body">
                <h5 class="card-title">Book1</h5>
                <button type="button" class="btn btn-info">Add</button>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a routerLink="/">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/Image/pexels-ivo-rainha-1290141.jpg" class="card-img-top" alt="book img">
              <div class="card-body">
                <h5 class="card-title">Book1</h5>
                <button type="button" class="btn btn-info">Add</button>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a routerLink="/">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/Image/pexels-ivo-rainha-1290141.jpg" class="card-img-top" alt="book img">
              <div class="card-body">
                <h5 class="card-title">Book1</h5>
                <button type="button" class="btn btn-info">Add</button>
              </div>
            </div>
          </a>
        </div>
      </div>
      <div class="row pb-4">
        <div class="col">
          <a routerLink="/">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/Image/pexels-ivo-rainha-1290141.jpg" class="card-img-top" alt="book img">
              <div class="card-body">
                <h5 class="card-title">Book1</h5>
                <button type="button" class="btn btn-info">Add</button>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a routerLink="/">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/Image/pexels-ivo-rainha-1290141.jpg" class="card-img-top" alt="book img">
              <div class="card-body">
                <h5 class="card-title">Book1</h5>
                <button type="button" class="btn btn-info">Add</button>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a routerLink="/">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/Image/pexels-ivo-rainha-1290141.jpg" class="card-img-top" alt="book img">
              <div class="card-body">
                <h5 class="card-title">Book1</h5>
                <button type="button" class="btn btn-info">Add</button>
              </div>
            </div>
          </a>
        </div>
        <div class="col">
          <a routerLink="/">
            <div class="card" style="width: 15rem;">
              <img src="../../assets/Image/pexels-ivo-rainha-1290141.jpg" class="card-img-top" alt="book img">
              <div class="card-body">
                <h5 class="card-title">Book1</h5>
                <button type="button" class="btn btn-info">Add</button>
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
    
  
  
  </div>
  
  
</div>

